<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmpInitServlet</servlet-name>
    <servlet-class>servlet.Emp_InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpInitServlet</servlet-name>
    <url-pattern>/empinit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrdInit</servlet-name>
    <servlet-class>servlet.PrdInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdInit</servlet-name>
    <url-pattern>/prdinit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmpAdd</servlet-name>
    <servlet-class>servlet.EmpAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAdd</servlet-name>
    <url-pattern>/addemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrdAdd</servlet-name>
    <servlet-class>servlet.PrdAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdAdd</servlet-name>
    <url-pattern>/addprd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmpDel</servlet-name>
    <servlet-class>servlet.EmpDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDel</servlet-name>
    <url-pattern>/delemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrdDel</servlet-name>
    <servlet-class>servlet.PrdDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdDel</servlet-name>
    <url-pattern>/delprd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmpUpdate</servlet-name>
    <servlet-class>servlet.EmpUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdate</servlet-name>
    <url-pattern>/updateemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrdUpdate</servlet-name>
    <servlet-class>servlet.PrdUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdUpdate</servlet-name>
    <url-pattern>/updateprd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryPrd</servlet-name>
    <servlet-class>servlet.QueryPrd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPrd</servlet-name>
    <url-pattern>/queryprd</url-pattern>
  </servlet-mapping>
</web-app>
